h1,h2,h3,h4{
  font-family: NunitoSans;
}

p,a{
  font-family: NunitoSans-L;
}

nav{
  padding: 0 10% !important;
}
nav > div > ul > li{
  padding-right: 20%;
}

section{
  padding: 2% 10%;
}

.cover{
  height: 100vh;
  padding: 5% 10%;
  background-image: url(../img/greenhouse.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.img-wrapper{
  width: auto;
  height: 100%;
}

.content{
  width: 35%;
}

.tri-img-gallery > div > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.tri-img-gallery{
  display: grid;
  grid-column-gap: 0px;
  grid-template-columns: auto auto;
}

.tall-item {
  grid-area: 1 / 1 / span 2/ span 1;
}

@media only screen and (min-width: 1024px){

}
@media only screen and (min-width: 900px){
}

@media (max-width: 600px) {/*for phone only*/
  .tri-img-gallery{
    display: grid;
    grid-column-gap: 0px;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .tall-item {
    grid-area: 1 / 1 / span 1/ span 1;
  }

}

@font-face{
    font-family: NunitoSans;
    src: url(fonts/NunitoSans-Regular.ttf);
}

@font-face{
    font-family: NunitoSans-L;
    src: url(fonts/NunitoSans-Light.ttf);
}
